.Weather {
  font: arial, sans-serif;
  color: rgb(135, 135, 135);
  border: 1px solid #a78b71;
  border-radius: 10px;
  padding: 16px;
}

.Weather form {
  margin-bottom: 20px;
}
.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  color: #878787;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}
.Weather .temperature {
  font-weight: bold;
  font-size: 64px;
  font-weight: 500;
  color: rgb(33, 33, 33);
  line-height: 64px;
}

.Weather canvas {
  height: 52px;
  width: 52px;
  margin-right: 10px;
  position: relative;
}
.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  position: relative;
  top: -23px;
}

Weather .temp {
  margin: 10px auto;
}
